html {
    font-size: 16px;
}


/*Header*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 4rem;
}

.logo {
    display: flex;
    margin-left: 1.5rem;
    align-items: center;
}

.logo img {
    height: 4rem;
}

.logo span {
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: bold;
}

#academy {
    color: lightgrey;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav span {
    margin: 1rem;
    font-size: 1.2rem;
    color: grey;
}


/*Banner*/

.banner {
    background-color: lightgrey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner img {
    margin-right: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    max-width: 60%;
}

.signup {
    padding-top: 0;
    padding-right: 5rem;
    padding-bottom: 2.5rem;
}

.signup-content {
    font-family: Roboto;
    width: 18rem;
    line-height: 1;
}

.signup-content h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-top: -15rem;
    margin-bottom: 2rem;
}

.signup-content h4 {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 3rem;
}
