html {
    font-size: 16px;
}


/*Header*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 4rem;
}

.logo {
    display: flex;
    margin-left: 1.5rem;
    align-items: center;
}

.logo img {
    height: 4rem;
}

.logo span {
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: bold;
}

#academy {
    color: lightgrey;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav span {
    margin: 1rem;
    font-size: 1.2rem;
    color: grey;
}


/*Banner*/

#bannerone {
    background-color: lightgrey;
}

.banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner img {
    margin-right: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    max-width: 60%;
}

.signup {
    padding-top: 0;
    padding-right: 5rem;
    padding-bottom: 2.5rem;
}

.signup-content {
    font-family: Ubuntu;
    width: 18rem;
    line-height: 1;
}

.signup-content h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-top: -10rem;
    margin-bottom: 2rem;
}

.signup-content h4 {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 3rem;
}


/*Banner 2*/

.flex {
    display: flex;
}

.practice {
    display: flex;
    flex-direction: column;
}

.practice img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 2rem 1.5rem;
}

.practice-content {
    margin-left: 1.5rem;
    padding-right: 15rem;
    font-family: Ubuntu;
}

.practice-content h2 {
    font-weight: 500;
    margin-bottom: 24px;
    font-size: 1.5rem;
}

.practice-content p {
    margin-bottom: 1.5rem;
}

#quote {
    font-weight: 300;
}

.mini {
    width: 26.4rem;
}

.campus {
    border-left: .5px solid lightgrey;
}

.campusinfo {
    padding-top: 0;
    padding-bottom: 1rem;
}

.campusinfo-content {
    font-family: Ubuntu;
    line-height: 1.5;
}

#bantwoimg {
    max-width: 35%;
    height: auto;
    display: block;
    margin: 1rem;
}

.campusinfo-content h4 {
    font-weight: 700;
    margin-bottom: 8px;
}

.campusinfo-content p {
    margin-bottom: 8px;
    font-size: .9rem
}

#guest {
    background-color: lightgrey;
}
